@import url("../styled-h1.css");

/* Fade in the text at first, and then keep scrolling until midscreen and stop there */
@keyframes scroll {
  0% { transform: perspective(300px) rotateX(25deg) scale(1.7) translateY(140%); opacity: 0; }
  20% { transform: perspective(300px) rotateX(25deg) scale(1.7) translateY(100%); opacity: 1; }
  100% { transform: perspective(300px) rotateX(25deg) scale(1.7) translateY(30%); }
}

body {
  overflow: hidden;
  background-color: black;
  padding-top: 40px;
  text-align: center;
  height: 100vh;
}

main {
  transform: perspective(300px) rotateX(25deg) scale(1.7) translateY(50%);
  transform-origin: 50% 100%;
  animation: scroll 10s linear forwards;
}
h1 {
  position: relative;
  display: inline;
  color: #bbb;
}
h1::before {
  display: none;
}

p {
  color: #bbb;
  font-family: "Avenir Next", "Nunito Sans", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
}