@import url("../styled-h1.css");
@import url("../next-button.css");

@keyframes count {
  0% { content: "0"; opacity: 0.3; transform: scale(0.2); }
  5% { content: "1"; }
  11% { content: "2"; }
  18% { content: "3"; }
  26% { content: "4"; }
  35% { content: "5"; }
  45% { content: "6"; }
  56% { content: "7"; }
  80% { content: "8"; }
  90% { content: "9"; }
  100% { content: "10"; opacity: 1; transform: scale(1); }
}

body {
  overflow: hidden;
  background-image: linear-gradient(to right, #FFD194, #D1913C);
  padding-top: 40px;
  text-align: center;
  height: 100vh;
}
h1 {
  position: relative;
  display: inline;
  text-shadow: #fff 0 0 10px;
}
h1::before {
  content: "#5";
  top: -2px;
  left: -100px;
  transform: none;
}

.digit {
  position: relative;
  z-index: 2;
  width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 25rem;
  text-shadow: 0 0 10px #fff;

  &::before {
    content: "10";
    position: absolute;
    left: -45px;
    z-index: 2;
    animation: count 10s linear;
  }
}

.button-30 {
  position: relative;
  transform: none;
  display: block;
  top: auto;
  left: auto;
  margin: 0 auto;
  margin-top: 40px;
}