@import url("../styled-h1.css");
@import url("../next-button.css");

@keyframes flyInFromLeft {
  0% { transform: translateX(-500%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@keyframes flyInFromBottom {
  0% { transform: translateY(500%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes flyInFromRight {
  0% { transform: translateX(500%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

body {
  overflow: hidden;
  background-image: linear-gradient(to right, #ffefba, #ffffff);
  padding-top: 40px;
  text-align: center;
  height: 100vh;
}
h1 {
  position: relative;
  display: inline;
  text-shadow: orange 0 0 10px;
  color: #333;
}
h1::before {
  content: "#7";
  top: -2px;
  left: -100px;
  transform: none;
}

.digit {
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 15em;

  &.left {
    animation: flyInFromLeft 5s ease-in-out;
  }
  &.middle {
    animation: flyInFromBottom 5s ease-in-out;
  }
  &.right {
    animation: flyInFromRight 5s ease-in-out;
  }
}
p {
  font-family: "Avenir Next", "Nunito Sans", ui-sans-serif, system-ui,
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
}

.button-30 {
  position: relative;
  transform: none;
  display: block;
  top: auto;
  left: auto;
  margin: 0 auto;
  margin-top: 400px;
}